<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "MyFitness/header.html" %}
        <title>Home - MyFitness</title>
    </head>
    <body>
        {% include "MyFitness/navbar.html" %}
        <form method="post" action="">
            {% csrf_token %}
            <ul class="form">
                <li id="ename" class="username"><p>Exercise Name: {{ form.ename }}</p></li>
                <li id="date" class="email"><p>Date: {{ form.date }}</p></li>
                <li id="activity" class="password"><p>{{ form.activity }}</p></li>
                <li id="reps" class="username"><p>Repetitions: {{ form.reps }} {{ form.r_units }}</p></li>
                <li id="sets" class="password"><p>Sets: {{ form.sets }}</p></li>
                <li id="weight" class="username"><p>Weight: {{ form.weight }} {{ form.w_units }}</p></li>
            </ul>
            <input type="submit" value="Create exercise" />
        </form>
    </body>
</html>


