<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "MyFitness/header.html" %}
        <title>Home - MyFitness</title>
    </head>
    <body>
{% if user.is_authenticated %}
        {% include "MyFitness/navbar.html" %}
<div class="exer-bar">
{% for d in days_pm2 %}
    <div class="day-element{% if d.is_active %}-active{% endif %}">
            <div>
                <span>{{ d.w_display }}</span>
                <span>{{ d.display }}</span>
            </div>
{% if d.has_items == False %}
            <div><span>No entries</span></div>

{% if d.is_today == True %}
            <div>
                <br/>
                <a class="message message-cancel" href="{% url 'MyFitness:add_fitness_log' %}">
                    <span>Create Entry</span>
                </a>
            </div>
{% endif %}
{% else %}
            <table class="exer-table">
                <thead>
                    <tr align="left">
                        <th>Name</th>
                        <th>Weight</th>
                        <th>Repetitions</th>
                        <th>Sets</th>
                    </tr>
                </thead>
{% for log in fitness_logs %}
{% if log.date.day == d.date.day %}
                <tbody>
                    <tr>
                        <td>{{ log.ename }}</td>
                        <td>
                            {% if log.weight == 0 %}
                                Bodyweight
                            {% else %}
                                {{ log.weight }} {{ log.get_weight_unit }}
                            {% endif %}</td>
                        <td>{{ log.reps}} {{ log.get_reps_unit }}</td>
                        <td>{{ log.sets }}</td>
                        <td><a class="delete-button" href="/del-fitness/{{ log.id }}/?next=/">x</a></td>
                    </tr>
                </tbody>
{% endif %}
{% endfor %}

            </table>
{% if d.is_today == True %}
            <div>
                <br/>
                <a class="message message-cancel" href="{% url 'MyFitness:add_fitness_log' %}">
                    <span>Create Entry</span>
                </a>
            </div>
{% endif %}
{% endif %}
        </div>
{% endfor %}
    </div>
        <div class="bodyweight-bar">
            <div class="morning-weight">
                {% if tmw.weight %}
                <div>{{ tmw.weight }} <span style='font-size:14px;'>{{ tmw.get_weight_unit }}</span>
                    <a class="delete-button" href="/del-weight/{{ tmw.id }}/?next=/">x</a></div>
                {% else %}
                <div>--</div>
                {% endif %}
            </div>
            <div class="afternoon-weight">
                {% if taw.weight %}
                <div>{{ taw.weight }} <span style='font-size:14px;'>{{ taw.get_weight_unit }}</span>
                    <a class="delete-button" href="/del-weight/{{ taw.id }}/?next=/">x</a></div>
                {% else %}
                <div>--</div>
                {% endif %}
            </div>
        {% if not tmw.weight or not taw.weight %}
            <div class="bw-form">
                <form method="post" action="">
                    {% csrf_token %}
                    <p>Weight: {{ form.weight }} {{ form.w_units }}</p>
                    <p>Date: {{ form.date }}</p>
                    <p>{{ form.tod }}</p>
                    <input class="message message-cancel" type="submit"  name="action" value="Submit Weight"/>
                </form>
            </div>
        {% endif %}
        </div>
    <div class="workout-box">
            {% for w in workouts %}
                {{ w.name }}
                <a href="/add-wlog/{{ w.id }}">Add Workout Log</a>
                {% for we in workout_exercises %}
                    {% if we.workout == w.name %}
                    <p> - {{ we.ename }}</p>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            {% for w in workout_logs %}
                <p>Your Recent Workout Logs</p>
                <p>{{ w.date }} - {{ w.workout }} - <a href="/del-wlog/{{ w.id }}">Delete Log</a></p>
            {% endfor %}
            <a href="{% url 'MyFitness:add_workout' %}">Create Workout</a>
            <a href="{% url 'MyFitness:add_workout_exercise' %}">Create Exercise for Workout</a>

        </div>
{% else %}
    {% include 'MyFitness/landing_page.html' %}
{% endif %}
    </body>
</html>