<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "MyFitness/header.html" %}
        <title>New User - MyFitness</title>
    </head>
    <body style="text-align: center;">
        <div class="navbar">
            <ul>
                <li><a href="{% url 'MyFitness:index' %}">MyFitness / New</a></li>
                <li class="right"><a href="{% url 'MyFitness:login_user' %}">Login</a></li>
            </ul>
        </div>
        <div>
            <p>Welcome to MyFitness</p>
            <p><a class="message message-cancel" href="{% url 'MyFitness:login_user' %}">Login</a></p>
            <p><a class="message message-cancel" href="{% url 'MyFitness:add_user' %}">Create Account</a></p>
        </div>
    </body>
</html>





