<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "MyFitness/header.html" %}
    </head>
    <body style="text-align:center;">
        <div class="navbar">
            <ul>
                <li><a href="{% url 'MyFitness:index' %}">MyFitness / Login</a></li>
            </ul>
        </div>
        <form method="post" action="">
            {% csrf_token %}
            <ul class="form">
                <li><p>{{ form.username }}</p></li>
                <li><p>{{ form.password }}</p></li>
            </ul>
            <input class="message message-cancel" type="submit" value="Login" />
            <a class="message message-cancel" href="{% url 'MyFitness:add_user' %}">Create Account</a>
        </form>
    </body>

</html>
