<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "MyFitness/header.html" %}
    </head>
    <body>
        <div class="navbar">
            <ul>
                <li><a href="{% url 'MyFitness:index' %}">MyFitness / Login</a></li>
            </ul>
        </div>
        <form method="post" action="">
            {% csrf_token %}
            <ul class="form">
                <li><p>{{ form.username }}</p></li>
                <li><p>{{ form.password }}</p></li>
            </ul>
            <input type="submit" value="Login" />
        </form>
    </body>

</html>
