:root {
    --dib-pm-xl: 1.225em;
    --tib-pm-xl: 44.55em;
    --dib-size-xl: 11em;

    --dib-pm-md: 1.725em;
}

* {
    font-family: Arial;
    font-size: 14px;
}

body {
    margin:0;
    padding:0;
    width:100%;
    position: relative;
}
.navbar {
    border-bottom: thin solid #a6a6a6;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    -o-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -khtml-transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.navbar .right {
    float: right;
}

/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
    background-color: #e6e6e6;
}

.day-element {
    width: 500px;
    margin: 10px;
    padding: 10px;
    border: thin solid #a6a6a6;
}

.day-element-active {
    width: 500px;
    margin: 10px;
    padding: 10px;
    border: thin solid black;
    background-color: lightgrey;
}
.exer-bar {
    float: left;
    width: 500px;
}

.bodyweight-bar {
    float: left;
    width: 700px;
    margin: 20px 0 0 150px;
}

.exer-table {
    width: 100%;
}
.exer-table tr th {
    align: left;
}

.exer-table tr td {
    padding: 0.5em 0 0.5em 0;
}

.delete-button {
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: #a6a6a6;
    padding: 0.15em 0.5em 0.2em 0.5em;
    border-radius: 1em;
    vertical-align: middle;

    -o-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -khtml-transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: black;
}

.morning-weight div {
    text-align: center;
    font-size: 40px;
    float: left;
    width: 50%;
}
.afternoon-weight div {
    text-align: center;
    font-size: 40px;
    float: right;
    width: 50%;
}

* ul {
    list-style-type: none;
}

* ul li {
    display: inline;
}

.bw-form {
    margin: 90px 0 0 0;
}

.message {
    border: 0;
    font-weight: bold;
    text-decoration: none;
    color: white;
    padding: 0.15em 0.5em 0.2em 0.5em;
    vertical-align: middle;


    -o-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -khtml-transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.message-delete {
    background-color: #e20000;
}
.message-delete:hover {
    background-color: #8c0000;
}
.message-cancel {
    background-color: #a6a6a6;
}
.message-cancel:hover {
    background-color: black;
}
.delete-page {
    text-align: center;
}
.add-fitness {
    text-decoration: none;
    background-color: red;
}

.workout-tag {
    background-color: deepskyblue;
    color: white;
    font-size: 12px;
    padding: 0.25em 0.7em 0.25em 0.7em;
    border-radius: 1em;
}